# Mac OS X
.Trash
Movies
Music
Pictures
Public
Downloads
Documents
Desktop
Applications
Library
Dev
.ssh
Google Drive
Dropbox
Creative Cloud Files
.dropbox
.cups

# SVN
.subversion

# Bower
.config
.cache

# Ruby
.gem

# Boto
.boto

# AWS CLI
.aws

# Ansible / Vagrant
ansible_hosts
VirtualBox VMs
.vagrant.d
*.retry
.ansible

# Atom
.atom/.apm

# Vim
.viminfo

# Node.js and NPM https://gist.github.com/DanHerbert/9520689
.npm
node_modules
.node
.v8flags.*
.node-gyp

# Composer
.composer
