"*":
  "atom-material-ui":
    depth: true
    disableAnimations: true
    panelContrast: true
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".DS_Store"
    ]
    themes: [
      "atom-material-ui"
      "oceanic-reef-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "233ca173-db1b-b404-adff-af18fc2e1fef"
  "fuzzy-finder": {}
  linter:
    showErrorTabFile: false
    showErrorTabLine: true
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "one-dark-ui": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
