"*":
  "exception-reporting":
    userId: "233ca173-db1b-b404-adff-af18fc2e1fef"
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".DS_Store"
    ]
    themes: [
      "atom-material-ui"
      "oceanic-reef-syntax"
    ]
    excludeVcsIgnoredPaths: false
    disabledPackages: [
      "linter-scss-lint"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
  "tree-view":
    hideIgnoredNames: true
  "one-dark-ui": {}
  linter: {}
  "linter-scss-lint": {}
  "fuzzy-finder": {}
  tabs:
    usePreviewTabs: true
  "atom-material-ui":
    disableAnimations: true
    depth: true
    panelContrast: true
